<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">



<style>
div>div>a{
  color:white;
}
</style>


<link rel="stylesheet" type="text/css" href="/css/slider-pro.min.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/imageNumber.css">
<link rel="stylesheet" type="text/css" href="/css/base_grid.css">
<link rel="stylesheet" href="/css/dateNclock.css">



</head>

<body>

   <div class="second_grid">
      <h4 style="text-align:center;">Your PersonalColor is...</h4>
    <h1 style="text-align:center; color:#662500"><strong>Fall warm deep</strong></h1>
    <!-- 저거 톤별로 색 다르게 나올수 있으면 좋을텐뎅 -->
    <h4 style="text-align:center;">!!</h4>
      <div id="left-top">
         <div id="date"></div>
         <div id="clock"></div>
      </div>

    <div id="right-top">
      <a href= "http://localhost/">Go to Main Page></a>
    </div>
   </div>

  <h5 style="color:gray; text-align:left">*이미지를 클릭하면 상세페이지로 이동합니다. 브랜드, 가격등을 확인해보세요</h5>
  <img src="./css/Fall_warm_deep2/[나스]블러쉬_딥쓰롯.PNG" height="350px" width="310px"/>
  <img src="./css/Fall_warm_deep2/[맥]칠리.PNG" height="350px" width="310px"/>
  <img src="./css/Fall_warm_deep2/[마몽드]크리미 틴트 컬러밤 인텐스 23호_브릭로즈.PNG" height="350px" width="310px"/>
  <img src="./css/Fall_warm_deep2/[아리따움]샤인픽스아이즈9호_산타베이비.PNG" height="350px" width="309px"/>
  <img src="./css/Fall_warm_deep2/[크리니크]누드팝.PNG" height="350px" width="309px"/>
  <img src="./css/Fall_warm_deep2/[에뛰드]룩앳마이아이즈 카페_달달한대추차.PNG" height="350px" width="309px"/>


   <script src="/script/sendingtest.js" charset="utf-8"></script>
   <script src="/script/calendar.js" charset="utf-8"></script>
   <script src="/script/clock.js" charset="utf-8"></script>

</body>
</html>
