<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">



<style>
div>div>a{
  color:white;
}
</style>


<link rel="stylesheet" type="text/css" href="/css/slider-pro.min.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/imageNumber.css">
<link rel="stylesheet" type="text/css" href="/css/base_grid.css">
<link rel="stylesheet" href="/css/dateNclock.css">



</head>

<body>

   <div class="second_grid">
      <h4 style="text-align:center;">Your PersonalColor is...</h4>
    <h1 style="text-align:center; color:#00D8FF"><strong>Summer Cool light</strong></h1>
    <!-- 저거 톤별로 색 다르게 나올수 있으면 좋을텐뎅 -->
    <h4 style="text-align:center;">!!</h4>
      <div id="left-top">
         <div id="date"></div>
         <div id="clock"></div>
      </div>

    <div id="right-top">
      <a href= "http://localhost/">Go to Main Page></a>
    </div>
   </div>

  <h5 style="color:gray; text-align:left">*이미지를 클릭하면 상세페이지로 이동합니다. 브랜드, 가격등을 확인해보세요</h5>
  <img src="./css/Summer_cool_light2/[ARITAUM]Mono_Eyes_shimmer_S02_EVIL.PNG" height="350px" width="310px"/>
  <img src="./css/Summer_cool_light2/[BOBBYBROWN]lip_pensil40_bright_raspberry.PNG" height="350px" width="310px"/>
  <img src="./css/Summer_cool_light2/[CLINIQUE]pig_pop.PNG" height="350px" width="310px"/>
  <img src="./css/Summer_cool_light2/[CLIO]Pro_Single_ShadowG10_perpection.PNG" height="350px" width="309px"/>
  <img src="./css/Summer_cool_light2/[CHANEL]LOUSE_COCO_SHINE_HYDRATING_SHEER_LIPSHINE116_MIGHTY.PNG" height="350px" width="309px"/>
  <img src="./css/Summer_cool_light2/[SHUUEMURA]rouge_unlimited_PK356_matteM.PNG" height="350px" width="309px"/>


   <script src="/script/sendingtest.js" charset="utf-8"></script>
   <script src="/script/calendar.js" charset="utf-8"></script>
   <script src="/script/clock.js" charset="utf-8"></script>

</body>
</html>
